.archive {
  color: var(--c700);
  background-color: var(--c100);
  background-image: url(/assets/noise.png);
  background-size: 100px;
  background-repeat: repeat;
  min-height: 80vh;

  .archive__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--container-3x);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--s7x);
    padding-bottom: var(--s5x);
    padding-left: var(--s5x);
    padding-right: var(--s5x);

    @media (min-width: 768px) {
      padding-left: var(--s3x);
      padding-right: var(--s3x);
    }
  }

  .archive__title {
    font-family: var(--serif);
    font-weight: var(--serif-bold);
    font-size: var(--type-3x);
    text-align: center;
    color: var(--c700);
    margin-bottom: var(--s6x);
  }

  .archive-item {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--s6x);

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .archive-item__photo {
    width: 100%;
    margin-bottom: var(--s2x);

    img {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 25%;
      margin-bottom: 0;
    }
  }

  .archive-item__details {
    @media (min-width: 768px) {
      width: 75%;
      padding-left: var(--s4x);
    }
  }

  .archive-item__title {
    display: block;
    font-family: var(--serif);
    font-weight: var(--serif-bold);
    font-size: var(--type-4x);
    color: var(--c700);
    text-decoration: none;
    margin-bottom: var(--s2x);

    &:hover {
      text-decoration: underline;
    }
  }

  .archive-item__description {
    font-family: var(--sans);
    font-weight: var(--sans-normal);
    font-size: var(--type-2x);
    color: var(--c500);
    margin-bottom: var(--s2x);
  }

  .archive-item__published {
    font-family: var(--sans);
    font-weight: var(--sans-normal);
    font-size: var(--type-1x);
    color: var(--c500);
  }
}
