.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);

  .home__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--container-3x);
    padding: 24px;
    margin-top: 36px;
    overflow: hidden;
  }

  .home__bio {
    display: flex;
    flex-direction: column;
  }

  .home__work-lede {
    margin-bottom: 48px;

    @media (min-width: 1024px) {
      width: 66.66%;
    }
  }

  .home__writing {
    @media (min-width: 1024px) {
      width: 66.66%;
    }
  }

  h2 {
    font-family: var(--title-family);
    font-size: 48px;
    font-weight: 900;
    color: var(--black);
    margin-bottom: 4px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  h3 {
    font-family: var(--title-family);
    font-size: 24px;
    font-weight: 900;
    color: var(--black);
    margin-bottom: 16px;
  }

  p {
    font-family: var(--title-family);
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 16px;
  }

  section {
    margin-bottom: 48px;
  }
}

.hero {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .hero-figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      width: 66.66%;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      margin-bottom: 12px;
    }

    figcaption {
      font-family: var(--content-family);
      font-size: 12px;
      font-weight: 400;
    }
  }

  .hero-content {
    width: 100%;

    @media (min-width: 1024px) {
      width: 33.33%;
      padding-left: 24px;
    }

    h1, p {
      font-family: var(--title-family);
      color: var(--black);
    }

    h1 {
      font-size: 48px;
      font-weight: 900;

      @media (min-width: 1024px) {
        margin-bottom: 24px;
      }
    }

    p {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 24px;
    }

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.work-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 48px;

  > div {
    padding: 16px 32px;
  }
}

.work-press {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  p {
    font-family: var(--title-family);
    font-size: 18px;
    font-weight: 100;
    color: var(--black);
    margin-bottom: 8px;
  }

  a {
    font-family: var(--title-family);
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
    text-decoration: underline;
  }

  .work-press__item {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      width: calc(33.33% - 24px);
    }
  }
}

.blog {
  list-style: none;
  padding: 0;
  margin: 0;

  .blog-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    a {
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;

      .blog-entry__title {
        text-decoration: underline;
      }
    }
  }

  .blog-entry__title {
    font-family: var(--title-family);
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 12px;
  }

  .blog-entry__description {
    font-family: var(--content-family);
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
  }

  .blog-entry__publish-date {
    font-family: var(--title-family);
    font-size: 14px;
    font-weight: 100;
    color: var(--black);
    margin-bottom: 6px;
  }
}
