nav {
  position: absolute;
  top: var(--s2x);
  left: var(--s2x);

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }

  span {
    font-family: var(--serif);
    font-weight: var(--serif-bold);
    font-size: var(--type-1x);
    color: var(--c500);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  img {
    height: 8px;
    margin-right: var(--s2x);
  }
}
