.post {
  display: flex;
  flex-direction: column;
  color: var(--c700);
  background-color: var(--c100);
  background-size: 100px;
  background-repeat: repeat;
  padding-top: var(--s7x);
  padding-bottom: var(--s5x);
  font-family: var(--sans);
  font-weight: var(--sans-regular);

  .post__title {
    font-family: var(--serif);
    font-size: var(--type-4x);
    font-weight: var(--serif-bold);
    text-align: left;
    width: 100%;
    max-width: var(--container-1x);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--s2x);
    padding-left: var(--s5x);
    padding-right: var(--s5x);

    @media (min-width: 768px) {
      padding-left: var(--s3x);
      padding-right: var(--s3x);
    }
  }

  .post__byline {
    width: 100%;
    max-width: var(--container-1x);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--s4x);
    padding-left: var(--s5x);
    padding-right: var(--s5x);

    @media (min-width: 768px) {
      padding-left: var(--s3x);
      padding-right: var(--s3x);
    }

    p {
      font-family: var(--sans);
      font-weight: var(--sans-regular);
      font-size: var(--type-1x);
      line-height: var(--sans-body-height);
      color: var(--c700);
    }
  }

  .post__content {
    p {
      font-size: var(--type-2x);
      line-height: var(--sans-body-height);
      width: 100%;
      max-width: var(--container-1x);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--s3x);
      padding-left: var(--s5x);
      padding-right: var(--s5x);

      @media (min-width: 768px) {
        padding-left: var(--s3x);
        padding-right: var(--s3x);
      }
    }

    p > img {
      width: 100%;
    }

    h1 {
      font-family: var(--serif);
      font-size: var(--type-4x);
      font-weight: var(--serif-bold);
      text-align: center;
      max-width: var(--container-3x);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--s5x);
      padding-left: var(--s3x);
      padding-right: var(--s3x);

      @media (min-width: 768px) {
        font-size: var(--type-5x);
      }
    }

    h2 {
      font-family: var(--serif);
      font-size: var(--type-3x);
      font-weight: var(--serif-bold);
      max-width: var(--container-1x);
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--s5x);
      margin-bottom: var(--s3x);
      padding-left: var(--s3x);
      padding-right: var(--s3x);
    }

    a {
      display: inline;
      font-size: var(--type-2x);
      line-height: var(--sans-body-height);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: var(--cpop);
      }
    }

    pre {
      display: block;
      width: 100%;
      max-width: var(--container-2x);
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--s4x);
      margin-bottom: var(--s4x);
      padding-left: var(--s3x);
      padding-right: var(--s3x);
      background-color: var(--c700);

      code {
        display: block;
        padding: var(--s4x);
        color: var(--c100);
        background-color: var(--c700);
        overflow: scroll;
        font-family: monospace;
      }
    }

    code {
      display: inline-block;
      font-family: monospace;
      font-weight: 300;
      font-size: var(--type-1x);
      color: var(--c700);
      background-color: var(--c300);
      padding: 1px var(--s2x);
    }

    ol, ul {
      width: 100%;
      max-width: var(--container-1x);
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--s4x);
      margin-bottom: var(--s4x);
      padding-left: var(--s6x);
      padding-right: var(--s3x);

      @media (min-width: 768px) {
        padding-left: var(--s5x);
      }
    }

    li {
      font-size: var(--type-2x);
      line-height: var(--sans-body-height);
      margin-bottom: var(--s3x);
      padding-left: var(--s2x);
    }

    hr {
      width: 100%;
      height: 2px;
      max-width: var(--container-2x);
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--s4x);
      margin-bottom: var(--s4x);
      padding-left: var(--s3x);
      padding-right: var(--s3x);
      background-color: var(--c300);
    }

    blockquote {
      width: 100%;
      max-width: var(--container-2x);
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--s5x);
      margin-bottom: var(--s5x);
      padding-left: var(--s5x);
      padding-right: var(--s5x);

      @media (min-width: 768px) {
        padding-left: var(--s3x);
        padding-right: var(--s3x);
      }

      p {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 0;
        font-family: var(--serif);
        font-weight: var(--serif-regular);
        font-size: var(--type-4x);
        font-style: italic;
        line-height: normal;
        color: var(--c500);
      }
    }

    .container-1x {
      width: 100%;
      max-width: var(--container-1x);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--s3x);
      padding-left: var(--s5x);
      padding-right: var(--s5x);

      @media (min-width: 768px) {
        padding-left: var(--s3x);
        padding-right: var(--s3x);
      }
    }

    .container-2x {
      width: 100%;
      max-width: var(--container-2x);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--s3x);
      padding-left: var(--s5x);
      padding-right: var(--s5x);

      @media (min-width: 768px) {
        padding-left: var(--s3x);
        padding-right: var(--s3x);
      }
    }

    .container-2x__flush {
      width: 100%;
      max-width: var(--container-2x);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--s3x);
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .viz-embed {
      border: none;
    }
  }
}
